
@{
    ViewBag.PageTitle = "Product Managment";
    ViewBag.CardTitle = "Products List";
}
<div>
    <a class="btn btn-success" asp-action="Create" asp-controller="Product"> <i class="bi bi-plus"></i> Create Product</a>
</div>

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>


@section scripts{

    <script src="~/js/Product.js"></script>
}
