@model int

<img class="delv" src="~/img/order-confirmation.jpg" />
<h1 class="success">Your order number @Model has been successfully placed.</h1>
<style>
    .delv{
        width:570px;
        hight:190px;
        position:relative;
        left:500px;
    }

    .success {
        display:flex;
        justify-content:center;
        align-items:center;
        color:seagreen;
    }
</style>
